@charset "utf-8";

.teste {
    color: red;
    font-size: 500px;
}

.corpo-centro{
    text-align: center;
}

.botao-generic{
    border-radius: 10px;
    font-size: 12pt;
}

.botao-home{
    border-radius: 10px;
    font-size: 12pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#bt-index-voltar{
    position: relative;
    float: right;
}

label {
    font-family: sans-serif;
    font-size: 14pt;
}

fieldset{
    height: 22%;
    width: 20%;
    margin-left: 40%;
    margin-right: 60%;
    margin-top: 18%;
    text-align: center;
    padding: 5px;
    background: appworkspace;
    border-radius: 20px;
}

.itextarea-consulta{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 96%;
    height: 70%;
    resize: none;
}


.div-generic-consulta{
    height: 25%;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: bisque;
    width: 95%;

}




.itextarea-consulta-resposta{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    width: 96%;
    height: 90%;
    resize: none;
}




.div-generic-consulta-resposta{
    height: 63%;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: bisque;
    width: 95%;
    size: 3pt;

}