@charset "utf-8";

.teste {
    color: red;
    font-size: 500px;
}

.corpo-centro{
    text-align: center;
}

.botao-generic{
    border-radius: 10px;
    font-size: 12pt;
}

.botao-home{
    border-radius: 10px;
    font-size: 12pt;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#bt-index-voltar{
    position: relative;
    float: right;
}

label {
    font-family: sans-serif;
    font-size: 14pt;
}

fieldset{
    height: 22%;
    width: 20%;
    margin-left: 40%;
    margin-right: 60%;
    margin-top: 18%;
    text-align: center;
    padding: 5px;
    background: appworkspace;
    border-radius: 20px;
}

.itextarea{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    width: 85%;
    height: 80%;
}

.div-generic{
    height: 25%;
    margin-top: 5px;
    background-color: bisque;
    width: 87%;
    margin-left: 5.3%;
}